.info {

  line-height: 32px;
  list-style-type: none;
  padding: 0px;
  font-size: 20px;
}

.weather-app {

  max-width: 600px;

  border-radius: 16px;

  padding: 40px;

  box-shadow: 0px 30px 50px rgba(0 0 0 / 80%);
background: radial-gradient(circle at 0.7% 1%, rgb(215, 248, 247) 0%, rgb(102, 188, 239) 100.2%);
  margin: 30px auto;

  display: block;

}
.additional-info{

  line-height: 32px;
  list-style-type: none;
  padding: 0px;
  font-size: 20px;  
}

#current-temperature {
    font-size: 40px;
}
#current-weather{
    font-size: 30px;
}
.daily-forecast {
  text-align: center;
  border-radius: 16px;
  background-color:#c7eeff;
  box-shadow: 0px 30px 50px rgba(0 0 0 / 80%);
  padding: 30px;
}
